SPLICEX_OIDC_HOST=https://splicex.ibm-garage.com
SPLICEX_OIDC_CLIENT_IDENT=i4p
JWKSURI=https://splicex.ibm-garage.com/oidc/endpoint/I4P/jwk
ISSUER=https://splicex.ibm-garage.com/oidc/endpoint/I4P
DB_TRANSLATION_NAME=ISHSERVICEDB
DB_TRANSLATION_PASS=ishpassw0rd
DB_TRANSLATION_PORT=3306
DB_TRANSLATION_HOST=splicex.ibm-garage.com
DB_TRANSLATION_USER=ISH